* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  background: #f06d06;
  color: white;
  text-align: center;
}

h1, h2, h3 {
  font-family: helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  min-width: 100vw;
  background-image: url(https://marcmanley.dev/scrimba/stepping-up-our-style/media/images/shaykh-chef-ribeye-1.jpg);
  background-size: cover;
  background-position: center;
}

.main-content {
  margin: 0 auto;
  padding: 50% 0;
  width: 65%;
  max-width 65%;
}

.main-content h1 {
  padding-bottom: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-content h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 2em 2em 2em 2em;
  background: #333;
  border-radius: 5px;
}

.main-content p {
  font-size: 1.5em;
  padding-bottom: 2rem;
}

.main-content code {
  font-family: monospace;
  font-size: 1.5rem;
  background-color: white;
  color: #333;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 2rem;
}